//<МІКСІНИ>====================================================================================================
@import "mixins";
//</МІКСІНИ>====================================================================================================

//<ШРИФТИ>====================================================================================================

//<Підключаємо шрифти>====================================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Підключаємо шрифти>====================================================================================================

//<Іконочні шрифти>====================================================================================================
//@import "icon";
//<Іконочні шрифти>====================================================================================================

// <Шрифт за умовчуванням>====================================================================================================
$font-family: "";
// </Шрифт за умовчуванням>====================================================================================================

//</ШРИФТИ>====================================================================================================

//<Змінні>====================================================================================================
$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</Змінні>====================================================================================================

//<ОБНУЛЕННЯ, ЗАГАЛЬНІ ПАРАМЕТРИ>====================================================================================================
@import "null";
body {
	color: #000;
	font-size: 14px;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕННЯ, ЗАГАЛЬНІ ПАРАМЕТРИ>====================================================================================================

//<ОБОЛОНКА>====================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	font-display: column;
	&._loaded {
	}
}
//</ОБОЛОНКА>====================================================================================================

//<ОСНОВНА СІТКА>====================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md4+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//</ОСНОВНА СІТКА>====================================================================================================

//<ПІДКЛЮЧЕННЯ ФАЙЛІВ UI СТИЛІВ, ФОРМ І ГОТОВИХ КАСКАДІВ>====================================================================================================
// @import "forms";
// @import "ui";
//</ПІДКЛЮЧЕННЯ ФАЙЛІВ UI СТИЛІВ, ФОРМ І ГОТОВИХ КАСКАДІВ>====================================================================================================

//<ПІДКЛЮЧЕННЯ ФАЙЛІВ СТИЛІВ СТОРІНОК І ЕЛЕМЕНТІВ>====================================================================================================
//@import 'datepicker';
//@import 'lightgallery';
//@import 'padding';
@import 'popup';
@import 'header';
@import 'footer';
@import 'home';
//</ПІДКЛЮЧЕННЯ ФАЙЛІВ СТИЛІВ СТОРІНОК І ЕЛЕМЕНТІВ>====================================================================================================

//<ОСНОВИНИЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
}
//====================================================================================================

//</ОСНОВИНИЙ БЛОК>====================================================================================================
